{% extends "layouts/base.html" %}
{% block content %}
  <section class="hero">
    <div class="container hero__container">
      <h1 class="hero__title">Hi, I'm Paulina 👋</h1>
      <p>
        I'm on a journey to become a front-end web developer. I love building
        little projects, trying out new coding techniques, and sharing what I
        learn along the way. When I'm not at my desk, you'll find me reading,
        hiking through the mountains, or challenging myself on rock-climbing
        walls.
      </p>
      <p>
        I started this blog to document my progress, keep myself accountable,
        and hopefully inspire anyone else who's learning to code. Welcome to my
        corner of the internet, and thanks for stopping by!
      </p>
      {% include "partials/social-links.html" %}
    </div>
  </section>
  <section class="latest-posts">
    <div class="container">
      <h2 class="latest-posts__title">Latest Articles</h2>
      <ul class="latest-posts__list">
        {% for post in collections.latestPosts %}
          <li class="latest-posts__item">
            <a
              href="{{ './posts/' + post.slug | url }}"
              class="latest_posts__item__link"
            >
              {{ post.title }}
            </a>
            <p class="latest_posts__item__date">
              {{ post.publishedAt | readableDate }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
