---
pagination:
  data: posts
  size: 1
  alias: post
permalink: "posts/{{ post.slug }}/"
eleventyComputed: 
    title: "{{post.title }}"
    postIndex: "{{ pagpost.pageNumber }}"
layout: "layouts/blog-post.html"
---