@use "fonts";
@use "reset";
@use "components";
@use "mixins";
@use "sass:map";

:root {
  --colors-base-white: #ffffff;

  --colors-neutral-0: #fefefe;
  --colors-neutral-100: #fbf9f7;
  --colors-neutral-200: #efedeb;
  --colors-neutral-300: #dedcda;
  --colors-neutral-400: #c0bfbf;
  --colors-neutral-600: #4a4846;
  --colors-neutral-700: #34302d;
  --colors-neutral-800: #201e1d;
  --colors-neutral-900: #1c1a19;

  --colors-blue-200: #e1f1fe;
  --colors-blue-500: #93cefc;
  --colors-blue-700: #75b0de;
  --colors-blue-800: #5792c0;
  --colors-blue-900: #022b4a;

  --colors-green-200: #e9f5ea;
  --colors-green-500: #9dd3a9;
  --colors-green-700: #008531;
  --colors-green-900: #132a18;

  --colors-yellow-200: #fff5e1;
  --colors-yellow-500: #facc79;
  --colors-yellow-700: #ea9806;
  --colors-yellow-900: #4a3003;

  --colors-red-400: #f04438;
  --colors-red-600: #d92d20;

  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  --corner-radius-0: 0px;
  --corner-radius-4: 4px;
  --corner-radius-6: 6px;
  --corner-radius-8: 8px;
  --corner-radius-10: 10px;
  --corner-radius-12: 12px;
  --corner-radius-16: 16px;
  --corner-radius-20: 20px;
  --corner-radius-24: 24px;
  --corner-radius-full: 999px;

  // CONTAINER
  --container-max-width: 40rem;
  --container-width: 90%;
  --container-padding: var(--spacing-250);
}

body {
  background-color: var(--colors-neutral-100);
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  line-height: 1.6em;
  padding: clamp(var(--spacing-200), 0.7615rem + 1.0178vw, var(--spacing-250)) 0;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colors-neutral-700);
}

p {
  @include mixins.text-preset-7;
  color: var(--colors-neutral-600);
}

strong {
  @include mixins.text-preset-7-semibold;
  color: var(--colors-neutral-700);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
  padding: 0 var(--container-padding);

  position: relative;
}

.social-links {
  display: flex;
  gap: var(--spacing-150);
}

.social-links__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: clamp(var(--spacing-400), 1.6479rem + 1.5023vw, var(--spacing-800)) 0;
  & > .container {
    // TODO: need this to expand full height of section
    border-right: 1px solid var(--colors-neutral-200);
    border-left: 1px solid var(--colors-neutral-200);
  }
}

header {
  .container {
    padding: 0;
  }
}

.page-title {
  @include mixins.text-preset-2;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 8px;
    background: var(--colors-blue-500);
    z-index: -1;
  }
}

.hero {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300);
  }
}

.latest-posts {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400);
  }
  &__title {
    @include mixins.text-preset-2;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: calc(0.3em - 2px);
      right: calc(-1 * (var(--spacing-125) + 40px));
      height: 3px;
      width: 40px;
      background-color: var(--colors-blue-500);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }

  &__blog-link {
    @include mixins.text-preset-6;
    color: var(--colors-neutral-700);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: var(--colors-blue-500);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .post {
    &__title {
      @include mixins.text-preset-5;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
    }

    &__date {
      @include mixins.text-preset-8-italic;
    }
  }
}

.blog {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-075);
  }

  &__title {
    @include mixins.text-preset-2;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: calc(0.3em - 2px);
      right: calc(-1 * (var(--spacing-125) + 40px));
      height: 3px;
      width: 40px;
      background-color: var(--colors-blue-500);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: var(--spacing-250) 0;
    border-top: 1px solid var(--colors-neutral-200);
  }

  .post__link {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-075);
  }
}

.about {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300);
  }

  .favorites-books {
    &__list {
      list-style: disc;
      padding-left: var(--spacing-400);
    }
  }

  &__image {
    border-radius: var(--corner-radius-6);
  }

  .socials {
    &__header {
      @include mixins.text-preset-4;
      margin-bottom: var(--spacing-200);
    }
  }
}

.newsletter {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200);

    .form-group {
      align-self: stretch;
      display: flex;
      flex-direction: column;

      gap: var(--spacing-075);
    }

    label p {
      color: var(--colors-neutral-700);
    }

    .unsubscribe-message {
      @include mixins.text-preset-8;
    }

    .error-message,
    .success-message {
      @include mixins.visually-hidden;
      display: flex;
      align-items: center;
      gap: var(--spacing-100);
      p {
        @include mixins.text-preset-8;
      }
      &.active {
        @include mixins.visually-visible;
      }
    }

    .error-message p {
      color: var(--colors-red-600);
    }

    .success-message p {
      color: var(--colors-green-700);
    }

    input[type="email"] {
      @include mixins.text-preset-7;
      align-self: stretch;
      border: 1px solid var(--colors-neutral-300);
      border-radius: var(--corner-radius-10);
      background: var(--colors-neutral-0);
      cursor: pointer;
      padding: var(--spacing-150) var(--spacing-200);
      &:hover {
        background: var(--colors-neutral-200);
      }
      &:focus,
      &:active {
        outline: none;
        background: var(--colors-neutral-100);
        border-radius: var(--corner-radius-8);
        box-shadow:
          0 0 0 2px var(--colors-neutral-100),
          0 0 0 4px var(--colors-blue-800);
      }

      &:user-invalid {
        border: 1px solid var(--colors-red-600);
        & ~ .error-message {
          @include mixins.visually-visible;
        }
      }
    }

    .submit-button {
      @include mixins.text-preset-6;
      border: none;
      border-radius: var(--corner-radius-10);
      background: var(--colors-blue-500);
      cursor: pointer;
      padding: var(--spacing-150) var(--spacing-300);
      &:hover {
        background: var(--colors-blue-700);
      }
      &:focus,
      &:active {
        border-radius: var(--corner-radius-8);
        box-shadow:
          0 0 0 2px var(--colors-base-white),
          0 0 0 4px var(--colors-blue-800);
      }
    }
  }
}

footer {
  text-align: center;

  .container {
    padding: 0 var(--spacing-125);
  }

  .content {
    border-top: 1px solid var(--colors-neutral-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-200);
  }

  .social-links__item {
    min-height: 0;
    min-width: 0;
    background: none;
    border: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media (min-width: 48rem) {
}

body.dark {
  background-color: var(--colors-neutral-900);
  color: var(--colors-neutral-0);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--colors-neutral-0);
  }

  p {
    color: var(--colors-neutral-400);
  }

  .social-links__item {
    background-color: var(--colors-neutral-800);
    border-color: var(--colors-neutral-700);

    svg,
    svg > * {
      fill: var(--colors-neutral-0);
    }

    &:hover {
      background-color: var(--colors-neutral-700);
      border-color: var(--colors-neutral-600);
    }
  }

  section > .container {
    border-color: var(--colors-neutral-700);
  }

  .divider {
    &__line {
      background-color: var(--colors-neutral-700);
    }
  }

  header {
    position: relative;
    .container {
      border-color: var(--colors-neutral-700);
    }
    .navbar {
      background-color: var(--colors-neutral-800);
      color: var(--colors-neutral-400);

      .nav__item {
        &.active {
          color: var(--colors-neutral-0);
        }
      }
    }
  }

  .theme-toggle {
    background-color: var(--colors-neutral-900);
    border-color: var(--colors-neutral-700);
    & .moon {
      @include mixins.visually-hidden;
    }
    & .sun {
      @include mixins.visually-visible;
    }
  }

  .latest-posts {
    &__blog-link {
      color: var(--colors-neutral-0);
    }
  }

  footer {
    .content {
      border-color: var(--colors-neutral-700);
    }
    .social-links__item {
      svg,
      svg > * {
        fill: var(--colors-neutral-400);
      }
    }
  }
}
