<header>
  <div class="container">
    <div class="navbar">
      <a
        href="{{ '/' | url }}"
        class="navbar__avatar-link"
        aria-label="{{ site.name }} - home"
      >
        <img
          src="{{ '/assets/images/image-avatar.jpg' | url }}"
          alt=""
          class="navbar__avatar-image"
        />
      </a>
      <nav
        class="main-nav"
        aria-label="main"
      >
        <ul class="nav__list">
          {% for item in site.navigation %}
            <li class="nav__item {% if item.text===title %}active{% endif %}">
              <a href="{{ item.url | url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="navbar__toggle-buttons">
        <button class="nav-toggle">
          <div class="hamburger">{% include "svgs/icon-menu.svg" %}</div>
          <div class="close">{% include "svgs/icon-menu-close.svg" %}</div>
        </button>
        <button class="theme-toggle">
          <div class="moon">{% include "svgs/icon-moon.svg" %}</div>
          <div class="sun">{% include "svgs/icon-sun.svg" %}</div>
        </button>
      </div>
    </div>
  </div>
</header>
