<div class="social-links">
  <a
    href="https://twitter.com"
    class="social-links__item"
  >
    {% include "svgs/logo-x.svg" %}
  </a>
  <a
    href="https://twitter.com"
    class="social-links__item"
  >
    {% include "svgs/logo-github.svg" %}
  </a>
  <a
    href="https://twitter.com"
    class="social-links__item"
  >
    {% include "svgs/logo-linkedin.svg" %}
  </a>
  <a
    href="https://twitter.com"
    class="social-links__item"
  >
    {% include "svgs/logo-frontend-mentor.svg" %}
  </a>
</div>
